<div class="page" id="page-email">
      
      <div>
          <h2>
              Ti invieremo al più presto un'email a:<br />
              <span class="js--email">EMAIL@DOMAIN.COM</span>
          </h2>
          <img src="/assets/images/done.svg" role="presentation">
          <h3>Prodotto cercato:<br /><span class="js--bin-name"></span></h3>
          <div>
              <a href="#">Torna indietro</a>
          </div>
      </div>
