<div class="page" id="page-found">
    
    <div class="js--bin-container" data-class="js--bin-container">
        <div id="response">
            <img class="image image--bin js--bin-image" src="">
            <article>
                <h4>Ricicla come</h4>
                <h2 class="js--bin-name"></h2>
            </article>
        </div>
    </div>
</div>
