<div class="page" id="page-not-found">
    <navbar></navbar>
    <div>
        <h2>
            Ci dispiace, non abbiamo trovato l'oggetto
            <b id="product-searched" ></b>
        </h2>
        <h3>Inserisci la tua email e ti contatteremo non appena lo sapremo!</h3>
        <form action="email.php" method="POST" accept-charset="utf-8">
            <span>
                <input placeholder="email@domain.com" type="email" name="email">
            </span>
            <span>
                <input type="submit" value="Invia">
            </span>
            <input type="hidden" id="product-name" name="product-name" value="">
        </form>
    </div>
</div>
