.page--found__1 {
  background-color: #28527b;
}

.page--found__2 {
  background-color: #c1a71e;
}

.page--found__3 {
  background-color: #66b15d;
}

.page--found__4 {
  background-color: #81512b;
}

.page--found__5 {
  background-color: #832c2c;
}
