@import "index/index.scss";
@import "navbar/index.scss";
@import "city/index.scss";
@import "found/index.scss";
@import "notFound/index.scss";
@import "email/index.scss";

html {
  font-family: 'Work Sans','Helvetica Neue','Segoe UI',sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

div.page {
  height: 0;
  min-height: 100vh;
  position: relative;
  text-align: center;
  @media screen and (max-width: 800px) {
    height: inherit;
  }
}

div.page__content {
  z-index: 2;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  justify-content: center;
  height: 100%;
  font-size: 1.5em;

  @media screen and (max-width: 800px) {
    height: 60%;
    padding-top: 70px;
  }

  @media screen and (max-width: 700px) {
    padding-top: 140px;
    width: 70vw;
    font-size: 1.1em;
  }

  @media screen and (max-width: 790px) and (min-width: 740px) {
    padding-top: 140px;
  }

  @media screen and (max-width: 560px) {
    width: 90vw;
  }

  @media screen and (max-width: 510px) {
    padding-top: 100px;
  }

  @media screen and (max-width: 500px) {
    padding-top: 140px;
    font-size: 0.8em;
  }

  @media screen and (max-height: 600px) {
    padding-top: 140px;
  }

  @media screen and (max-height: 1400px) {
    height: 80%;
  }

}
