.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    color: #FFF;
}
