.navbar__submit {
    background-color: #4CAF50;
    color: #fff;
    border: 1px solid #4CAF50;
    border-radius: 0 3px 3px 0;
    outline: 0;
    height: 42px;
    box-sizing: border-box;
    padding: 5px 10px;
}
