
nav.navbar {
    position: fixed;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    color: #FFF;

    @media screen and (max-width: 700px) {
      width: 100vw;
      margin: auto;
      position: fixed;
      display: block;  
    }

    @import "header.scss";
    @import "form.scss";
}
