<div class="page page--city">
  <div class="page__content">
    <form class="js--city-form city__form">
        <p style="color: red">{{ error }}</p>
        <input class="city__input js--autocomplete-city input" type="text" name="name" placeholder="scegli città">
    </form>
  </div>
  <img src="/assets/images/cityscape.svg" role="presentation" class="presentation-image">
</div>
