<div class="page page--city">
  <form class="js--search-form city__form">
      <input class="city__input js--autocomplete-city" type="text" name="city" placeholder="scegli città">
      <input class="city__submit" type="submit" alt="Scegli la città">
  </form>
</div>
