<div class="page" id="page-email">
    <ps-navbar></ps-navbar>
    <div>
        <h2>
            Ti invieremo al più presto un'email a:<br />
            <span class="js--email">{{ email }}</span>
        </h2>
        <img src="/assets/images/done.svg" role="presentation">
        <h3>Prodotto cercato:<br /><span class="js--bin-name">{{ productName }}</span></h3>
        <div>
            <button class="js--go" data-route="index" >Torna indietro</button>
        </div>
    </div>
</div>
