<div class="page" id="page-found">
    <ps-navbar></ps-navbar>
    <div class="bin--{{ binId }}">
        <div id="response">
            <img class="image image--bin" src="/assets/images/bin-{{ binId }}.png">
            <article>
                <h2>{{ productName }}</h2>
                <h4>Ricicla come</h4>
                <h2>{{ binName }}</h2>
            </article>
        </div>
    </div>
</div>
