<ps-navbar></ps-navbar>
<div class="page page--index" id="page-index">
  <div class="page__content">
      <header class="header">
          <img class="header__image" src="/assets/images/logo.svg" alt="Dove lo butto">
          <h1 class="header__text">
            Dove lo butto
          </h1>
      </header>
      <p>
          <strong>Dove lo butto</strong> ti permette di scoprire velocemente e
          facilmente come riciclare tutto ciò che ti passa per le mani.
      </p>
      <p>
          La raccolta differenziata non è facile come sembra e questo servizio
          nasce apposta per facilitarla, fornendo alle persone uno strumento
          utile e facile da usare.
      </p>
  </div>
  <img class="presentation-image" src="/assets/images/trash.svg" role="presentation">
</div>
