<div class="page" id="page-index">
    <ps-navbar></ps-navbar>
    <div>
        <header>
            <img src="/assets/images/logo.svg" alt="Dove lo butto">
            <h1>Dove lo butto</h1>
        </header>
        <p>
            <strong>Dove lo butto</strong> ti permette di scoprire velocemente e
            facilmente come riciclare tutto ciò che ti passa per le mani.
        </p>
        <p>
            La raccolta differenziata non è facile come sembra e questo servizio
            nasce apposta per facilitarla, fornendo alle persone uno strumento
            utile e facile da usare.
        </p>
    </div>
</div>
