<nav class="navbar">
    <a class="header-wrapper" href="/">
        <header class="header">
            <img class="header__image" src="/assets/images/logo.svg" alt="Dove lo butto">
            <h1 class="header__text">Dove lo butto</h1>
        </header>
    </a>
    <form class="js--search-form navbar__form">
        <input class="navbar__input js--autocomplete-product" type="text" name="name" placeholder="Ricicla ora">
        <input class="navbar__submit" type="image" src="/assets/images/logo.svg" alt="Ricicla">
    </form>
</nav>
