<nav class="navbar">
  <header class="header">
    <a class="header-wrapper" href="/">
      <img class="header__image" src="/assets/images/logo.svg" alt="Dove lo butto">
      <h1 class="header__text">
        Dove lo butto
        <blockquote class="header__blockquote">{{ city }}</blockquote>
      </h1>
    </a>
    <button type="submit" class="js--destroy-city header__button" > cambia città</button>
  </header>

  <form class="js--search-form navbar__form">
    <input class="navbar__input js--autocomplete-product" type="text" name="name" placeholder="Ricicla ora" required>
    <input class="navbar__submit" type="image" src="/assets/images/logo.svg" alt="Ricicla">
  </form>

</nav>
