<ps-navbar></ps-navbar>
<div class="page page--not-found" id="page-not-found">
  <div class="page__content">
    <h2>
      Ci dispiace, non abbiamo trovato l'oggetto
      <b id="product-searched" class="js--product-name">{{ productName }}</b>
    </h2>
    <h3>Inserisci la tua email e ti contatteremo non appena lo sapremo!</h3>
    <form class="js--email-form">
      <span>
        <input placeholder="email@domain.com" type="email" name="email" class="input" required>
      </span>
      <span>
        <input type="submit" value="Invia" class="button button--primary">
      </span>
        <input type="hidden" id="product-name" name="product-name" value="">
    </form>
  </div>
  <img src="/assets/images/garbage.svg" role="presentation" class="presentation-image">
</div>
